.swiper {
  padding: 10px 10px 30px 10px;
  max-width: 1600px;
}

.swiper-slide {
  font-size: 45px;
  border-radius: 15px;
  display: block;
  background-color: rgb(204, 255, 238);
  align-items: center;
}

.zhartyDiv {
  height: 50%;
  display: flex;
  padding: 20px;
  background-color: rgb(0, 255, 170);
  border-radius: 15px;
}

.zhartyDiv p {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

.zhartyDiv img {
  width: 120px;
  height: 120px;
  border-radius: 13px;
  margin-right: 15px;
}

.zhartysyDiv {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  height: 50%;
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.nameUserDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameUserDiv p:nth-child(1) {
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 12px;
  border-radius: 4px;
  background: #6fe26f;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #3dc73d;
}
