.btn {
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  background-color: aqua;
}
h1 {
  text-align: center;
}

.btns {
  width: auto;
  padding: 8px;
  border-radius: 16px;
  background-color: rgb(247, 247, 247);
  display: flex;
  gap: 15px;
  justify-content: center;
}

.buttonLesson {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 14px;
  background-color: aliceblue;
  border: rgb(199, 199, 199) solid 1px;
}

.buttonLesson:hover {
  background-color: rgb(245, 245, 245);
}
