body {
  background: #222;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.gallery a {
  height: 200px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #000;
}

.gallery a img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  &:hover {
    transform: scale(1.3);
  }
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */

@media (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
