* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.grid-container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  position: relative;
}

.grid-item {
  width: calc(25% - 20px);
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.grid-item:hover img {
  transform: scale(1.05);
}

/* Glightbox */
.gslide-description {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
}

/* Адаптивность */
@media (max-width: 1200px) {
  .grid-item {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 900px) {
  .grid-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .grid-container {
    width: 100%;
  }

  .grid-item {
    width: 100%;
    margin-right: 0;
  }

  h1 {
    font-size: 30px;
  }
}
